.ControlPanel {
  display: flex;
  flex-direction: column;
}

.ControlPanel ul {
  margin-bottom: 0;
}

.ControlPanel .controls {
  flex: 1;
}

.ControlPanel .controls > * {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 2.5rem;
}
