body {
  padding: 0 0.5rem;
  font-family: 'Courier New', Courier, monospace;
}

#root {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.App-header {
  margin: 1rem;
  text-align: center;
}

.App-main {
  flex: 1;
  max-width: 1000px;
  margin: 0 auto;
  display: grid;
  grid-template-columns: 1fr 300px;
  gap: 1.5rem;
}

.App-footer {
  margin: 1rem;
  text-align: center;
}

.flow {
  --flow-space: 1em;
}

.flow > * + * {
  margin-top: var(--flow-space);
}

@media (max-width: 1000px) {
  .App-main {
    grid-template-columns: 1fr;
  }
}
